mat-cell, mat-header-cell, mat-footer-cell{
  width: 130px;
  display: flex;
  align-items: center;
}
.table-container{
  overflow-x: scroll;
}
img{
  max-width: 100%;
}
::ng-deep mat-form-field{
  width: 100%;
}
.contenedor-imagen{
  padding: 10px;
  display: inline-block;
}
::ng-deep mat-card{
  height: auto;
  border: solid 1px #3f51b5;
}
