<div class="container px-0">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button (click)="openNav()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/tienda">
        <img routerLink="/tienda" src="../assets/img/logo3.png" width="40" height="40" alt="" srcset="">
        Animal Crew
      </span>
      <span class="example-fill-remaining-space"></span>
      <button mat-raised-button [matMenuTriggerFor]="menu">
        <mat-icon [matBadge]="productos.length+''" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let p of productos;">{{p.nombre}}  {{p.precio | currency}}</button>
        <button mat-menu-item>
          <strong>Total: {{total() | currency}}</strong>
        </button>
        <a *ngIf="productos.length > 0" mat-menu-item routerLink="/terminar_compra">
          <mat-icon>shopping_cart</mat-icon>
          Terminar compra</a>
      </mat-menu>
      <!-- <button *ngIf="!admin" class="btn btn-primary" (click)="login()">Ingresar</button>
      <button *ngIf="admin" class="btn btn-primary" (click)="logout()">Salir</button> -->
    </mat-toolbar-row>
  </mat-toolbar>
  </div>
  <div class="container">
  <div class="row opciones">
    <div class="col-6 my-4">
      <p>Administrador</p>
      <a mat-list-item routerLink="/productos">
        <mat-icon class="" color="primary">list_alt</mat-icon>
        Productos
      </a>
      <a mat-list-item routerLink="/ventas">
        <mat-icon color="primary">local_shipping</mat-icon>
        Ventas
      </a>
    </div>
    <div class="col-6 my-4">
      <p>Cliente</p>
      <a mat-list-item routerLink="/tienda">
        <mat-icon color="primary">store</mat-icon>
        Ver tienda
      </a>
    </div>
    <div class="col-12">
      <splash [animationType]="'slide-left'" [duration]="1.5"></splash>
      <router-outlet [busqueda]="busqueda"></router-outlet>
    </div>
  </div>
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="contenedor-logo">
    <span routerLink="/tienda">
      <img routerLink="/tienda" src="../assets/img/logo3.png" width="40" height="40" alt="" srcset="">
      Animal Crew
    </span>
  </div>
  <h3 *ngFor="let p of productos2;" (click)="ordenar()">{{p.categoria}}</h3>
</div>
