<div class="container px-0">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <button (click)="cajon.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>
        Tienda
      </span>
      <span class="example-fill-remaining-space"></span>
      <button mat-raised-button [matMenuTriggerFor]="menu">
        <mat-icon [matBadge]="productos.length+''" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let p of productos;">{{p.nombre}}  {{p.precio | currency}}</button>
        <button mat-menu-item>
          <strong>Total: {{total() | currency}}</strong>
        </button>
        <a *ngIf="productos.length > 0" mat-menu-item routerLink="/terminar_compra">
          <mat-icon>shopping_cart</mat-icon>
          Terminar compra</a>
      </mat-menu>
      <!-- <button *ngIf="!admin" class="btn btn-primary" (click)="login()">Ingresar</button>
      <button *ngIf="admin" class="btn btn-primary" (click)="logout()">Salir</button> -->
    </mat-toolbar-row>
  </mat-toolbar>
  </div>
  <div class="container">
  <div class="row opciones">
    <div class="col-6 my-4">
      <p>Administrador</p>
      <a mat-list-item routerLink="/productos">
        <mat-icon class="" color="primary">list_alt</mat-icon>
        Productos
      </a>
      <a mat-list-item routerLink="/ventas">
        <mat-icon color="primary">local_shipping</mat-icon>
        Ventas
      </a>
    </div>
    <div class="col-6 my-4">
      <p>Cliente</p>
      <a mat-list-item routerLink="/tienda">
        <mat-icon color="primary">store</mat-icon>
        Ver tienda
      </a>
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <mat-sidenav-container class="row">
    <mat-sidenav class="col-3"  #cajon opened mode="side">
      <mat-nav-list>
        <div>
          <p style="margin-left: 4px;">Administrador</p>
        <a mat-list-item routerLink="/productos">
          <mat-icon color="primary">list_alt</mat-icon>
          Productos
        </a>
        <a mat-list-item routerLink="/ventas">
          <mat-icon color="primary">local_shipping</mat-icon>
          Ventas
        </a>
        <mat-divider></mat-divider>
        </div>
        <p style="margin-left: 4px;">Cliente</p>
        <a mat-list-item routerLink="/tienda">
          <mat-icon color="primary">store</mat-icon>
          Ver tienda
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="col-9">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
</div>
