<mat-card>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <div class="izquierda">

        <img *ngFor="let foto of producto.fotos; let i = index" (mouseenter)="seleccionarImagen(i)"
             class="imagen-izquierda"
             [class.seleccionada]="i==indiceSeleccionado"
             [src]="resolverFoto(foto.foto)" alt="Foto">
      </div>
      <div>
        <img *ngIf="fotoSeleccionada" [src]="resolverFoto(fotoSeleccionada)" alt="">
      </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile class="detalles">
      <h1 class="py-3">{{producto.nombre}}</h1>
      <p class="py-3">{{producto.descripcion}}</p>
      <p class="py-3">{{producto.categoria}}</p>
      <strong class="py-3">Precio</strong>
      <h1 class="py-3">{{producto.precio | currency}}</h1>
      <mat-chip-list *ngIf="yaExiste">
        <mat-chip color="warn" selected>
          <mat-icon>check</mat-icon>
          En el carrito de compras
        </mat-chip>
      </mat-chip-list>
      <button *ngIf="!yaExiste" (click)="agregarAlCarrito()" class="carrito" mat-raised-button color="accent">

        <mat-icon>add</mat-icon>
        Agregar al carrito
      </button>
      <button *ngIf="yaExiste" (click)="quitarDelCarrito()" class="carrito" mat-raised-button color="accent">
        <mat-icon>delete</mat-icon>
        Quitar del carrito
      </button>
      <a routerLink="/tienda" class="comprar" mat-raised-button color="primary">
        Seguir comprando
      </a>
    </mat-grid-tile> -->
  </mat-grid-list>
    <div class="detalles">
      <h1 class="py-3">{{producto.nombre}}</h1>
      <p class="py-3">{{producto.descripcion}}</p>
      <p class="py-3">{{producto.categoria}}</p>
      <strong class="py-3">Precio</strong>
      <h1 class="py-3">{{producto.precio | currency}}</h1>
      <mat-chip-list *ngIf="yaExiste">
        <mat-chip color="warn" selected>
          <mat-icon>check</mat-icon>
          En el carrito de compras
        </mat-chip>
      </mat-chip-list>
      <div class="d-flex">
        <button *ngIf="!yaExiste" (click)="agregarAlCarrito()" class="carrito mr-2 add-btn" mat-raised-button>
          <mat-icon style="margin-left: -5px;">add</mat-icon>
          Agregar al carrito
        </button>
        <button *ngIf="yaExiste" (click)="quitarDelCarrito()" class="carrito mr-2 add-btn" mat-raised-button>
          <mat-icon>delete</mat-icon>
          Quitar del carrito
        </button>
        <a routerLink="/tienda" class="comprar" mat-raised-button color="primary">
          Seguir comprando
        </a>
      </div>
    </div>
</mat-card>
