table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
mat-cell, mat-header-cell, mat-footer-cell{
  width: 170px;
}
.table-container{
  overflow-x: scroll;
}
.add-btn{
  background-color: #317b31;
  color: white;
}

