<h1>Productos</h1>
<button class="add-btn" (click)="navegarAFormulario()" mat-button mat-raised-button>Agregar producto</button>
<div class="row">
  <div class="col-6" [producto]="producto" *ngFor="let producto of productos">
    <mat-card class="my-3">
    <div>
      <div>
        <h2>{{producto.nombre}}</h2>
        <h2>{{producto.categoria}}</h2>
        <h1>{{producto.precio | currency}}</h1>
        <button (click)="eliminar(producto)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    </mat-card>
  </div>
</div>
