<h1>Productos</h1>
<button class="add-btn" (click)="navegarAFormulario()" mat-button mat-raised-button>Agregar producto</button>
<!-- <div class="table-container">
  <table class="mat-elevation-z13" *ngIf="productos.length>0" mat-table [dataSource]="productos">
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="categoria">
      <mat-header-cell *matHeaderCellDef>Categoría</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.categoria}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.precio | currency}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eliminar">
      <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="eliminar(element)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  </table>
</div> -->
<div class="row">
  <div class="col-6" [producto]="producto" *ngFor="let producto of productos">
    <mat-card class="my-3">
    <div>
      <div>
        <h2>{{producto.nombre}}</h2>
        <h2>{{producto.categoria}}</h2>
        <h1>{{producto.precio | currency}}</h1>
        <button (click)="eliminar(producto)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    </mat-card>
  </div>
</div>
