<h1>Ventas</h1>
<div class="row">
  <div class="col-6" [ventas]="venta" *ngFor="let venta of ventas">
    <mat-card class="my-3">
    <div>
      <div>
        <h2>{{venta.nombre}}</h2>
        <h2>{{venta.direccion}}</h2>
        <h1>{{venta.contacto}}</h1>
        <h1>{{venta.total | currency}}</h1>
        <button class="details" mat-icon-button (click)="verDetalle(venta.id)">
          Ver detalles
          <mat-icon>pageview</mat-icon>
        </button>
      </div>
    </div>
    </mat-card>
  </div>
</div>
